@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap");

body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8Gl4EFna1vELwGID6RewCCaXOrEHoH620fQ&usqp=CAU');
  
}

.draggable {
  width: 90px;
  height: 90px;
  padding: 0.5em;
  float: left;
  margin: 0 10px 10px 0;
}

#dogeHouse {
  width: 95%;
  height: 300px;
  border: 2px solid #ccc;
  padding: 10px;
}

h3,
label,
p {
  background-color: #fff;
}

h3 {
  color: green;
  /*   font-family: "Roboto", sans-serif; */
  font-family: "Quicksand", sans-serif;
}

.card {
  margin-top: 1rem;
}

h4 {
  font-family: cursive,Arial, Helvetica, sans-serif;
  color: gold;
}

.footer {
  position: fixed;
  left: 50;
  bottom: 50;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}
